/* Resizable Table Global Styles */

.resizable-table .react-resizable {
  position: relative;
  background-clip: padding-box;
}

.resizable-table .react-resizable-handle {
  position: absolute;
  inset-inline-end: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.resizable-table .react-resizable-handle:hover {
  background-color: #666666;
  opacity: 0.3;
}
